[Unit]
Description=CBS Core Banking System API Container
After=network-online.target qouver-postgres.service
Wants=network-online.target

[Container]
Image=localhost/cbs-api:local
Pull=never
PublishPort=127.0.0.1:8082:8080
EnvironmentFile=/srv/qouver/cbs/env/cbs-prod.env
Timezone=Asia/Jakarta

[Service]
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
